<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CockTails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (cocktail()) {
    <div class="cocktail-details">
      <div class="cocktail-image">
        <img [src]="cocktail()?.strDrinkThumb" [alt]="cocktail()?.strDrink">
        <div class="cocktail-info">
          <h1>{{ cocktail()?.strDrink }}</h1>
          <span class="glass-type">{{ cocktail()?.strGlass }}</span>
        </div>
      </div>
      
      <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
          @for (ingredient of getIngredients(); track ingredient) {
            <li>{{ ingredient }}</li>
          }
        </ul>
      </div>

      <div class="instructions">
        <h2>Instructions</h2>
        <p>{{ cocktail()?.strInstructions }}</p>
      </div>
    </div>
  }
</ion-content>
